/Client/.idea/
/Client/target/classes/
/Client/target/generated-sources/
/Client/target/maven-archiver/
/Client/target/maven-status/
/Server/.idea/
/Server/target/classes/
/Server/target/generated-sources/
/Server/target/maven-archiver/
/Server/target/maven-status/
